@model GuildCars.UI.Models.ContactRequestModel


@{
    ViewBag.Title = "Contact Information Submitted Confirmation";
}


<h2>Contact Information Submitted</h2>

<p>
    Thank you for contacting us, @Model.Name!
    You will be hearing from us soon!
    We look forward to serving you!
</p>


